* {
    -jjw-background-color: #04040A;
    -jjw-dark-color: #111122;
    -jjw-light-color: #222244;
    -jjw-highlight-color: #455A64;

    -jjw-dark-red-color: #221111;
    -jjw-light-red-color: #442211;

    -jjw-text-color-overwritten: #F96969;
    -jjw-text-color-temp: #F9F979;
    -jjw-text-color: #A9A9E9;
    -jjw-highlight-text-color: #FFFFFF;
    -jjw-parameter-text-color: #7FFFD4;

    -fx-text-fill: -jjw-text-color;
}

.main {
    -fx-background-color: -jjw-background-color;
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
}

/* Text Styling */
.overwritten-text {
    -fx-fill: -jjw-text-color-overwritten !important;
}

.temp-overwrite-text {
    -fx-fill: -jjw-text-color-temp !important;
}

.basic-text {
    -fx-fill: -jjw-text-color !important;
}

/* Overwrite Address Field */
.address {
    -fx-background-color: -jjw-background-color;
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
    -fx-text-fill: -jjw-highlight-text-color;
}

/* Overwrite Field
.overwrite-field {
    -fx-background-color: -jjw-dark-color;
}

.overwrite-field .text {
    -fx-font-size: 16;
    -fx-font-family: "Courier Prime";
    -fx-text-fill: -jjw-text-color;
}
*/

/* Buttons */
.button {
    -fx-border-width: 1;
    -fx-border-color: transparent;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-light-color;

    -fx-text-fill: -jjw-text-color;
}

.button:hover {
    -fx-background-radius: 3 3 3 3;
    -fx-background-color: -jjw-highlight-color;
}

.button:hover,
.button:focused,
.button:showing {
    -fx-text-fill: -jjw-highlight-text-color;
}

.delete-button {
    -fx-border-width: 1;
    -fx-border-color: transparent;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: #A42233;

    -fx-text-fill: -jjw-text-color;
}

/* Code Area */
.code-area {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -jjw-light-color;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-dark-color;
}

.code-area .lineno {
    -fx-border-color: -jjw-dark-color;
    -fx-background-color: -jjw-background-color;
}

.code-area .text {
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
    -fx-fill: -jjw-text-color;
}

.assembly-area .text {
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
    -fx-fill: -jjw-parameter-text-color;
}

.caret {
    -fx-stroke: -jjw-highlight-text-color;
}

/* Patch Area */
.patch-area {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -jjw-light-color;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-dark-color;
}

.patch-area .text {
    -fx-font-family: "Courier Prime";
    -fx-font-size: 18;
}

/* Error Area */
.error-area .content {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -jjw-light-red-color;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-dark-red-color;
}

.error-area {
    -fx-font-family: "Courier Prime";
    -fx-font-size: 14;
    -fx-text-fill: -jjw-text-color-overwritten;
}

/* Assembly */
.keyword-text {
    -fx-fill: #BB33DD !important;
}

.parameter-text {
    -fx-fill: -jjw-parameter-text-color !important;
}

.address-text {
    -fx-fill: -jjw-highlight-text-color !important;
}

.comment-text {
    -fx-fill: #337799 !important;
}

.at-symbol {
    -fx-fill: #FFA500 !important;
}

/* Scroll Pane */
.scroll-pane {
    -fx-background-color: -jjw-dark-color;
}

.scroll-pane > .corner {
   -fx-background-color: -jjw-dark-color;
}

.scroll-pane > .viewport {
   -fx-background-color: -jjw-background-color;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* Menu coloring (https://stackoverflow.com/questions/12299162/how-to-style-menu-button-and-menu-items) */
* {
    -fx-my-menu-color: -jjw-dark-color;
    -fx-my-menu-color-highlighted: -jjw-highlight-color;
    -fx-my-menu-font-color: -jjw-text-color;
    -fx-my-menu-font-color-highlighted: -jjw-highlight-text-color;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}