* {
    -jjw-background-color: #000011;
    -jjw-dark-color: #111122;
    -jjw-light-color: #222244;
    -jjw-text-color: #E9E9A9;
    -jjw-highlight-color: #455A64;

    -fx-text-fill: -jjw-text-color;
}

.main {
    -fx-background-color: -jjw-background-color;
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
}

/* Text Styling */
.overwritten-text {
    -fx-fill: #F97979;
}

.basic-text {
    -fx-fill: -jjw-text-color;
}

/* Buttons */
.button {
    -fx-border-width: 1;
    -fx-border-color: transparent;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-light-color;

    -fx-text-fill: -jjw-text-color;
}

.button:hover {
    -fx-background-radius: 3 3 3 3;
    -fx-background-color: -jjw-highlight-color;
}

.delete-button {
    -fx-border-width: 1;
    -fx-border-color: transparent;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: #A42233;

    -fx-text-fill: -jjw-text-color;
}

/* Code Area */
.code-area {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -jjw-light-color;
    -fx-line-spacing: 20em;

    -fx-background-radius: 2 2 2 2;
    -fx-background-color: -jjw-dark-color;
}

.code-area .text {
    -fx-font-family: "Courier Prime";
    -fx-font-size: 16;
}

.caret {
    -fx-stroke: -jjw-text-color;
}

/* Scroll Pane */
.scroll-pane {
    -fx-background-color: -jjw-dark-color;
}

.scroll-pane > .viewport {
   -fx-background-color: -jjw-background-color;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* Menu coloring (https://stackoverflow.com/questions/12299162/how-to-style-menu-button-and-menu-items) */
* {
    -fx-my-menu-color: -jjw-light-color;
    -fx-my-menu-color-highlighted: -jjw-highlight-color;
    -fx-my-menu-font-color: -jjw-text-color;
    -fx-my-menu-font-color-highlighted: #FFFFFF;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}